@charset "UTF-8";

* {
	margin:0;
	padding :0;
}

/* 모든 Table 간격 없애기   */
table {
	border-collapse: collapse;
}

caption {
	display : none;
}

.board_write_form{
	position : relative;
	left : 8px;
	width : 80%;
	border-top : 2px solid;
}

.board_write_form tr {
	border-bottom: 1px solid #ccc;
	font-size : 14px;
}
